<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>bottle</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5016,0.5068 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -61.250,142.830 }</string>	
								<string>{ -69.250,142.830 }</string>	
								<string>{ -69.250,51.830 }</string>	
								<string>{ -61.250,55.830 }</string>
							</array>
							<array>	
								<string>{ -69.250,51.830 }</string>	
								<string>{ -19.250,1.830 }</string>	
								<string>{ -6.250,0.830 }</string>	
								<string>{ -61.250,55.830 }</string>
							</array>
							<array>	
								<string>{ -6.250,0.830 }</string>	
								<string>{ -19.250,1.830 }</string>	
								<string>{ -69.250,-50.170 }</string>	
								<string>{ -61.250,-55.170 }</string>	
								<string>{ -0.250,-2.170 }</string>
							</array>
							<array>	
								<string>{ -61.250,-55.170 }</string>	
								<string>{ -69.250,-50.170 }</string>	
								<string>{ -69.250,-147.170 }</string>	
								<string>{ -61.250,-138.170 }</string>
							</array>
							<array>	
								<string>{ 60.750,142.830 }</string>	
								<string>{ 59.750,54.830 }</string>	
								<string>{ 68.750,51.830 }</string>	
								<string>{ 68.750,142.830 }</string>
							</array>
							<array>	
								<string>{ 68.750,51.830 }</string>	
								<string>{ 59.750,54.830 }</string>	
								<string>{ 7.750,0.830 }</string>	
								<string>{ 19.750,0.830 }</string>
							</array>
							<array>	
								<string>{ 7.750,0.830 }</string>	
								<string>{ 0.750,-2.170 }</string>	
								<string>{ 60.750,-55.170 }</string>	
								<string>{ 67.750,-51.170 }</string>	
								<string>{ 19.750,0.830 }</string>
							</array>
							<array>	
								<string>{ 60.750,-55.170 }</string>	
								<string>{ 60.750,-138.170 }</string>	
								<string>{ 68.750,-147.170 }</string>	
								<string>{ 67.750,-51.170 }</string>
							</array>
							<array>	
								<string>{ -69.250,-147.170 }</string>	
								<string>{ 68.750,-147.170 }</string>	
								<string>{ 60.750,-138.170 }</string>	
								<string>{ -61.250,-138.170 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>grain</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 1.000,3.000 }</string>	
								<string>{ 5.000,1.000 }</string>	
								<string>{ 8.000,3.000 }</string>	
								<string>{ 8.000,7.000 }</string>	
								<string>{ 5.000,9.000 }</string>	
								<string>{ 1.000,7.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

