<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,223},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,222},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,179},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,179},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,214},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,178},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,46},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>3u.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,135},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>4u.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,135},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,152},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>5u.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,134},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,91},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>6u.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,91},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>7u.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{61,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,90},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>8u.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,90},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,47},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>9u.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,47},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{276,580}}</string>
                <key>sourceSize</key>
                <string>{320,640}</string>
            </dict>
            <key>grain.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Textures-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c048b4cd49ae7c5c5adc46b830da2c95$</string>
            <key>textureFileName</key>
            <string>Textures-hd.png</string>
        </dict>
    </dict>
</plist>
