<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1426},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1399},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1340},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1313},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1254},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1227},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,480},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>3u.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,126},{122,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,86}}</string>
                <key>sourceSize</key>
                <string>{122,86}</string>
            </dict>
            <key>4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1168},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>4u.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1141},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1082},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>5u.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1055},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,996},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>6u.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,910},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,356},{122,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{122,84}</string>
            </dict>
            <key>7u.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{122,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,86}}</string>
                <key>sourceSize</key>
                <string>{122,86}</string>
            </dict>
            <key>8d.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,824},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>8u.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,738},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>9d.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,652},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>9u.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,566},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>audioOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{82,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{82,66}</string>
            </dict>
            <key>audioOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,250},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{104,85}</string>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,473},{276,580}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{276,580}}</string>
                <key>sourceSize</key>
                <string>{320,640}</string>
            </dict>
            <key>continueButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1240},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>continueButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1125},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>grain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,250},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,158},{313,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,313}}</string>
                <key>sourceSize</key>
                <string>{313,313}</string>
            </dict>
            <key>minusButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1125},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>minusButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1125},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>okButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{600,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,140}}</string>
                <key>sourceSize</key>
                <string>{600,140}</string>
            </dict>
            <key>okButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{600,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,140}}</string>
                <key>sourceSize</key>
                <string>{600,140}</string>
            </dict>
            <key>pauseButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1055},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>pauseButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,940},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>plusButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,940},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>plusButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>resetButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,755},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>resetButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,755},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>restoreSettingsButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{600,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,140}}</string>
                <key>sourceSize</key>
                <string>{600,140}</string>
            </dict>
            <key>restoreSettingsButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,140}}</string>
                <key>sourceSize</key>
                <string>{600,140}</string>
            </dict>
            <key>settingsButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>settingsButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,570},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>sliderBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,106},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>sliderBase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,54},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>sliderBase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>startButtonActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,570},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>startButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Textures-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e61204bd935d9f7ce27a825983e63c8:1/1$</string>
            <key>textureFileName</key>
            <string>Textures-hd.png</string>
        </dict>
    </dict>
</plist>
