<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sensitivity_X</key>
	<integer>1</integer>
	<key>Sensitivity_Y</key>
	<integer>5</integer>
	<key>Sensitivity_Z</key>
	<integer>1</integer>
</dict>
</plist>
